body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
}

.circle {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 50%;
}

.container div:nth-child(1) {
  background-color: limegreen;
}

.container div:nth-child(2) {
  background-color: red;
}